body {
    background: #111;
    color: #fff;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    margin: 15px 0;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    background: #0f9;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.ad-box {
    background: #222;
    padding: 10px;
    margin: 20px 0;
    border-radius: 8px;
    font-size: 14px;
}